@use "./utils/abstracts" as *;

.social {
    & svg {
        height: 22px;
        width: auto;
    }
}

.social--dark {
    & a {
        background-color: $color-dark;
        color: #fff;
        transition: background-color $tran, color $tran;

        @media #{$mouse-device} {
            &:hover {
                background-color: rgba(#000, 0.2);
                color: $color-dark !important;
            }
        }
    }
}

.social--light {
    & a {
        background-color: rgba(#fff, 0.2);
        transition: background-color $tran;
        color: #fff;

        @media #{$mouse-device} {
            &:hover {
                background-color: #fff;
                color: $color-dark !important;
            }
        }
    }
}

.social--white {
    & a {
        background-color: #fff;
        transition: background-color $tran;
        color: $color-dark;

        @media #{$mouse-device} {
            &:hover {
                background-color: $color-dark;
                color: $color-light;
            }
        }
    }
}