@use "./utils/abstracts" as *;

[data-aos="cascade-fade-in"] {
    &:not(.swiper-wrapper) {
        transition-duration: 0s !important;
    }

    @for $i from 0 through 15 {
        & > * {
            opacity: 0;
            transform: translateY(50px);
            transition-property: opacity, transform;
            transition-timing-function: ease;
            transition-duration: 1000ms;

            &:nth-child(#{$i}) {
                transition-delay: 0.15s * $i;
            }
        }
    }

    &.aos-animate {
        & > * {
            opacity: 1;
            transform: translateY(0);
        }
    }
}