@use "./utils/abstracts" as *;
@use "./typography.scss";

:root {
    --main-font-family: #{$main-font-family};

    --color-accent-first: #{$color-accent-first};
    --color-accent-second: #{$color-accent-second};
    --color-accent-third: #{$color-accent-third};

    --color-dark: #{$color-dark};
    --color-dark-80: #{$color-dark-80};
    --color-dark-40: #{$color-dark-40};
    --color-dark-20: #{$color-dark-20};

    --color-light: #{$color-light};

    --color-error: #{$color-error};

    --gradient-first: #{$gradient-first};
    --gradient-second: #{$gradient-second}; 

}

html {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: $main-font-family;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    @extend .text-md;
    color: $color-dark;
}

main {
    flex: 1 1 auto;
    z-index: 2;
}

pageid {
    display: none;
}

[data-scroll-container].swiper-vertical {
    & .swiper-scrollbar {
        top: 16px;
        height: calc(100% - 32px);
        right: 6px;
    }

    & .swiper-scrollbar-drag {}
}

