@use "./utils/abstracts" as *;
@use "./typography.scss";

.breadcrumbs {
  @extend .text-xs; 

  & a {
    color: inherit;
    transition: opacity $tran;
    margin-right: 9px;

    &::after {
      content: "\e904";
      display: inline-block;
      margin-left: 1em;
      font-size: 0.6em;
      font-family: "icomoon" !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    @media #{$mouse-device} {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  & .last {
    opacity: 0.5;
  }

  & .separator {
    display: none;
  }

  & + .section-space-top {
    margin-top: 24px;

    @media (min-width: $mq-md) {
      margin-top: 34px;
    }

    @media (min-width: $mq-lg) {
      margin-top: 56px;
    }
  }
}
