@use "./utils/abstracts" as *;

.grey-number-cards-three-columns {
    & .cards-list {
        & .grey-card-with-number:last-child {
            &::after {
                content: none;
            }
        }

        @media (min-width: $mq-md) and (max-width: $mq-lg-max) {
            & .grey-card-with-number:nth-child(even) {
                &::after {
                    content: none;
                }
            }
        }

        @media (min-width: $mq-lg) {
            & .grey-card-with-number:nth-child(3n) {
                &::after {
                    content: none;
                }
            }
        }
    }
}