@use "./utils/abstracts" as *;

.grey-number-cards-four-columns {
    & .cards-list {
        @media (min-width: $mq-md) and (max-width: $mq-lg-max) {
            & .grey-card-with-number:nth-child(even) {
                &::after {
                    content: none;
                }
            }
        }

        @media (min-width: $mq-lg) and (max-width: $mq-xl-max) {
            & .grey-card-with-number:nth-child(3n) {
                &::after {
                    content: none;
                }
            }
        }

        @media (min-width: $mq-xl) {
            & .grey-card-with-number:nth-child(4n) {
                &::after {
                    content: none;
                }
            }
        }
    }
}